body {
  font-family: sans-serif;
  padding: 15px;
  background: #f5f5f5;
  direction: rtl;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* عکس: منځ کې + دایره */
img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  object-fit: cover;
}

/* فورم */
form {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}

/* پیغام */
.message {
  display: none;
  padding: 12px;
  margin: 15px auto;
  max-width: 400px;
  background: #d4edda;
  color: #155724;
  border-radius: 5px;
  text-align: center;
}
